.moreProducts__flex {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #999999;
  height: 25vh;
  .moreProducts__text {
    margin: 2%;
    font-family: "Lato", sans-serif;
    font-size: 1.063rem;
    text-align: center;
  }
  .moreProducts__button {
    background: none;
    border: 1.5px solid #222222;
    padding: 2%;
    display: flex;
    height: 9vh;
    align-items: center;
    justify-content: center;
    width: 60%;
    .moreProducts__button--text {
      font-size: 0.875rem;
      text-align: center;
      font-family: "Lato", sans-serif;
    }
  }
}
